<ion-view view-title="{{UI.labels[UI.lang].nav.calendar}}">
    <ion-content>
        <ion-refresher pulling-text="{{UI.labels[UI.lang].action.refresh}}" on-refresh="doRefresh()">
        </ion-refresher>
        <oggr-calendar events="events" options="calendarOptions"></oggr-calendar>
        <ion-list>
            <ion-item class="item-remove-animate item-icon-right" 
            ng-repeat="event in selectedEvents" 
            type="item-text-wrap" href="#/o/tab/calendar/detail/{{::event.id}}">
                <a><h2>
                  {{::event.title}}
                </h2>
                </a>
                <p>{{::event.date | date}}</p>
                <p>{{::event.description}}</p>
                <i class="icon ion-chevron-right icon-accessory"></i>
                <ion-option-button class="button-dark" ng-click="remove(contact)">
                    {{UI.labels[UI.lang].action.edit}}
                </ion-option-button>
                <ion-option-button class="button-assertive" ng-click="remove(contact)">
                    {{UI.labels[UI.lang].action.delete}}
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>