<div class="story">
    <h1>An Other Day in Paradise</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores tenetur nihil repellat molestiae ipsa dignissimos, veritatis quibusdam? Asperiores, assumenda facere.</p>
    <nav></nav>
</div>
<div class="event">
    <h1>Event Lorem ipsum dolor sit amet</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores tenetur nihil repellat</p>
    <nav></nav>
</div>
<div class="task">
    <h1>Task Lorem ipsum dolor sit amet</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores tenetur nihil repellat</p>
    <nav></nav>
</div>
<div class="task">
    <h1>Task Lorem ipsum dolor sit amet</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores tenetur nihil repellat</p>
    <nav></nav>
</div>
<div class="task">
    <h1>Task Lorem ipsum dolor sit amet</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores tenetur nihil repellat</p>
    <nav></nav>
</div>
<div class="task">
    <h1>Task Lorem ipsum dolor sit amet</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores tenetur nihil repellat</p>
    <nav></nav>
</div>
<div class="task">
    <h1>Task Lorem ipsum dolor sit amet</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores tenetur nihil repellat</p>
    <nav></nav>
</div>
<div class="task">
    <h1>Task Lorem ipsum dolor sit amet</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores tenetur nihil repellat</p>
    <nav></nav>
</div>
