<div id="map" class="map"></div>
<style>
    main>section.content{
        padding:0;
    }
    .map{
        width:100%;
        height:100%;
        opacity:.5!important;
    }
</style>
<script>
(function() {
    var mapStyles = [{
        "featureType": "road",
        "elementType": "geometry",
        "stylers": [{
            "visibility": "simplified"
        }]
    }, {
        "featureType": "road.arterial",
        "stylers": [{
            "hue": 149
        }, {
            "saturation": -78
        }, {
            "lightness": 0
        }]
    }, {
        "featureType": "road.highway",
        "stylers": [{
            "hue": -45
        }, {
            "saturation": -20
        }, {
            "lightness": 2.8
        }]
    }, {
        "featureType": "poi",
        "elementType": "label",
        "stylers": [{
            "visibility": "off"
        }]
    }, {
        "featureType": "landscape",
        "stylers": [{
            "hue": 163
        }, {
            "saturation": -26
        }, {
            "lightness": -1.1
        }]
    }, {
        "featureType": "transit",
        "stylers": [{
            "visibility": "off"
        }]
    }, {
        "featureType": "water",
        "stylers": [{
            "hue": 3
        }, {
            "saturation": -24.24
        }, {
            "lightness": -18.57
        }]
    }];

    var myLatlng = new google.maps.LatLng(43.07493, -89.381388);


    var mapOptions = {
        center: myLatlng,
        zoom: 16,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        style: mapStyles,
        disableDefaultUI: true
    };
    var map = new google.maps.Map(document.getElementById("map"),
        mapOptions);

    map.setOptions({
        styles: mapStyles
    });

    //Marker + infowindow + angularjs compiled ng-click
    var contentString = "<div><a ng-click='clickTest()'>Click me!</a></div>";
    //var compiled = $compile(contentString)($scope);

    /*var infowindow = new google.maps.InfoWindow({
        content: compiled[0]
    });*/

    var marker = new google.maps.Marker({
        position: myLatlng,
        map: map,
        title: 'Uluru (Ayers Rock)'
    });

    google.maps.event.addListener(marker, 'click', function() {
        infowindow.open(map, marker);
    });

    window.map = map;

    navigator.geolocation.getCurrentPosition(function(pos) {
        map.setCenter(new google.maps.LatLng(pos.coords.latitude, pos.coords.longitude));
    }, function(error) {
        alert('Unable to get location: ' + error.message);
    });
})();
</script>
