<ion-tabs class="tabs-striped tabs-color-active-assertive">
    <!-- Dashboard Tab -->
    <ion-tab title="Pulse" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/o/tab/pulse">
        <ion-nav-view name="tab-pulse"></ion-nav-view>
    </ion-tab>
    <!-- Tab -->
    <ion-tab title="Calendar" icon-off="ion-ios-calendar-outline" icon-on="ion-ios-calendar" href="#/o/tab/calendar">
        <ion-nav-view name="tab-calendar"></ion-nav-view>
    </ion-tab>
    <!-- Home Tab -->
    <ion-tab title="Dashboard" icon-off="ion-ios-flame" icon-on="ion-ios-flame" href="#/o/tab/dashboard">
        <ion-nav-view name="tab-dashboard"></ion-nav-view>
    </ion-tab>
    <!-- Account Tab -->
    <ion-tab title="Contacts" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/o/tab/contacts">
        <ion-nav-view name="tab-contacts"></ion-nav-view>
    </ion-tab>
    <!-- Chats Tab -->
    <ion-tab title="Chats" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/o/tab/chats">
        <ion-nav-view name="tab-chats" nav-transition="android"></ion-nav-view>
    </ion-tab>
    <!-- Out of Tabs -->
    <ion-tab title="Settings" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" hidden="true">
        <ion-nav-view name="out-of-tabs"></ion-nav-view>
    </ion-tab>
</ion-tabs>