<ion-view view-title="{{UI.labels[UI.lang].nav.files}}">
    <ion-header-bar class="bar-subheader bar-dark">
        <button class="button button-icon icon ion-ios-minus-outline" ng-click="showDelete = !showDelete"></button>
        <button class="button button-icon icon ion-ios-upload-outline" ng-click="upload()"></button>
    </ion-header-bar>
    <ion-content>
        <ion-refresher pulling-text="{{UI.labels[UI.lang].action.refresh}}" on-refresh="doRefresh()">
        </ion-refresher>
        <ion-list show-delete="showDelete" show-reorder="true" can-swipe="true">
            <ion-item ng-repeat="file in ['Rapport.pdf','Billet DXC-CDG','Other File on the GO','Recette du Black Russian','Le brunch sans alcool','Rapport.pdf','Billet DXC-CDG','Other File on the GO','Recette du Black Russian','Le brunch sans alcool','Rapport.pdf','Billet DXC-CDG','Other File on the GO','Recette du Black Russian','Le brunch sans alcool','Rapport.pdf','Billet DXC-CDG','Other File on the GO','Recette du Black Russian','Le brunch sans alcool'] track by $index" class="item item-icon-left"
            >
                <i class="icon ion-ios-download-outline"></i> {{file}}
                <ion-option-button class="button-positive" ng-click="share(item)">
                    Share
                </ion-option-button>
                <ion-option-button class="button-info" ng-click="edit(item)">
                    Edit
                </ion-option-button>
                <ion-delete-button class="ion-minus-circled" ng-click="items.splice($index, 1)">
                </ion-delete-button>
                <ion-reorder-button class="ion-navicon" on-reorder="reorderItem(item, $fromIndex, $toIndex)">
                </ion-reorder-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>