oggr-calendar * {
  user-select: none;
}

oggr-calendar .calendar{
  padding: 0;
  border: 1px solid #dddddd;
  user-select: none;
  background-color: #fff;
}

oggr-calendar .move-month {
  cursor: pointer;
}

oggr-calendar .prev-month {
  float: left;
}

oggr-calendar .next-month {
  float: right;
}

oggr-calendar .current-month {
  width: 100%;
  text-align: center;
  padding: 20px 8px 10px 8px;
}

oggr-calendar .week {
  height: 30px;
}

oggr-calendar .weekday {
  text-align: center;
}

oggr-calendar .week .day:last-child {
  border-right: none;
}

oggr-calendar .weekday, .day {
  display: inline-block;
  width: calc(100% / 7);
}

oggr-calendar .day {
  height: 30px;
  padding: 2px;
  border: 1px solid #dddddd;
  border-bottom: none;
  border-left: none;
  overflow: hidden;
}

oggr-calendar .day:hover {
  cursor: pointer;
}

oggr-calendar .day.default {
  background-color: lightblue;
}

oggr-calendar .day.event {
  background-color: #F2C0F7;
}
oggr-calendar .day.event .badge {
  padding:2px 5px;
  margin: 2px;
  font-size: 10px;
  line-height: 13px;
}

oggr-calendar .day.disabled {
  cursor: default;
  color: silver;
  background-color: white;
}