<ion-view view-title="Forgot Password">
    <ion-content class="padding" style="top:75vh;">
        <div class="list">
            <label class="item item-input">
                <span class="input-label">{{UI.labels[UI.lang].forms.userName}}</span>
                <input type="text" ng-model="user.username">
            </label>
        </div>
        <div>
            <div class="button-bar">
                <a class="button button-royal ion-arrow-left-c col col-33" href="#/start/sigin">{{UI.labels[UI.lang].action.signIn}}</a>
                <a class="button button-royal col col-67" ng-click="signIn(user)">{{UI.labels[UI.lang].action.forgot}}</a>
            </div>
        </div>
    </ion-content>
</ion-view>