<ion-view view-title="{{UI.labels[UI.lang].nav.login}}'">
    <ion-content class="padding" style="top:45vh;">
        <div class="list">
            <label class="item item-input">
                <span class="input-label">{{UI.labels[UI.lang].forms.email}}</span>
                <input type="text" ng-model="user.username">
            </label>
            <label class="item item-input">
                <span class="input-label">{{UI.labels[UI.lang].forms.password}}</span>
                <input type="password" ng-model="user.password">
            </label>
        </div>
        <div class="button-bar">
            <a class="button button-block button-dark" ng-click="signIn()">
                {{UI.labels[UI.lang].action.signIn}}
            </a>
            <a class="button button-block button-dark" ng-click="signUp()">
                {{UI.labels[UI.lang].action.signUp}}
            </a>
            <a class="button button-block button-dark" ng-click="fbLogin()">
                {{UI.labels[UI.lang].action.facebook}}
            </a>
        </div>
        <p class="text-center">
            <a href="#/start/forgot">{{UI.labels[UI.lang].nav.forgot}}</a>
        </p>
    </ion-content>
</ion-view>
