<ion-view view-title="{{UI.labels[UI.lang].nav.login}}'">
    <ion-content class="padding" style="top:45vh;">
        <div class="list" ng-class="{shake:shake}">
            <form name="login">
                <label class="item item-input">
                    <span class="input-label">{{UI.labels[UI.lang].forms.email}}</span>
                    <input type="email" ng-model="user.email" required>
                </label>
                <label class="item item-input">
                    <span class="input-label">{{UI.labels[UI.lang].forms.password}}</span>
                    <input type="password" required ng-model="user.password">
                </label>
            </form>
        </div>
        <div class="button-bar">
            <button class="button button-block button-dark" ng-click="signIn()" ng-disabled="login.$invalid">
                {{UI.labels[UI.lang].action.signIn}}
            </button>
            <button class="button button-block button-dark" ng-click="signUp()" ng-disabled="login.$invalid">
                {{UI.labels[UI.lang].action.signUp}}
            </button>
            <button class="button button-block button-dark" ng-click="fbLogin()" ng-disabled="login.$invalid">
                {{UI.labels[UI.lang].action.facebook}}
            </button>
        </div>
        <p class="text-center">
            <a href="#/start/forgot">{{UI.labels[UI.lang].nav.forgot}}</a>
        </p>
    </ion-content>
</ion-view>
